@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        /* Cambiamos el azul oscuro por el Nude de la tarjeta y el texto a Negro Carbón */
        @apply bg-[#F5E1D7] text-[#1A1A1A] text-opacity-90;
    }

    /* Estilizamos las fuentes: Serif para títulos (elegancia) y Sans para textos (claridad) */
    h1, h2, h3 {
        @apply font-serif font-bold;
    }

    h1 {
        @apply text-5xl leading-tight;
    }
    h2 {
        @apply text-2xl;
    }
    p {
        @apply text-xl font-light;
    }
}

@screen lg {
    h1 {
        @apply text-7xl;
    }
    p {
        @apply text-2xl;
    }
}
