@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: #F5E1D7 !important;
  color: #1A1A1A !important;
  margin: 0;
  padding: 0;
}

/* Esto asegura que no haya fondos oscuros de la plantilla vieja */
main, section, div {
  background-color: transparent !important;
}
